In [1]:
import os
import random
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
random.seed(0)

In [3]:
## loading the file
df = pd.read_csv('../healthcare/health_care_le.csv', na_values=['NA', 'NaN', '?'])

In [4]:
df.head()

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,New Patient,Visit Number,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit,Stay
0,1.0,8.0,2.0,3.0,2.0,3.0,3.0,2.0,5.0,2.0,31397.0,1.0,1.0,7.0,0.0,0.0,2.0,5.0,4911.0,5.0
1,2.0,2.0,2.0,5.0,2.0,2.0,3.0,3.0,5.0,2.0,31397.0,0.0,2.0,7.0,1.0,0.0,2.0,5.0,5954.0,45.0
2,3.0,10.0,4.0,1.0,0.0,2.0,1.0,3.0,4.0,2.0,31397.0,0.0,3.0,7.0,1.0,0.0,2.0,5.0,4745.0,35.0
3,4.0,26.0,1.0,2.0,1.0,2.0,3.0,2.0,3.0,2.0,31397.0,0.0,4.0,7.0,1.0,0.0,2.0,5.0,7272.0,45.0
4,5.0,26.0,1.0,2.0,1.0,2.0,3.0,3.0,3.0,2.0,31397.0,0.0,5.0,7.0,1.0,0.0,2.0,5.0,5558.0,45.0

In [5]:
# Checking for NA values
df.isnull().values.any()

True

In [6]:
# Counting  NA values
df.isnull().sum().sum()

91080

In [7]:
for column in df.columns :
    print(f"Number of NA values in {column} is : { df[column].isnull().sum()} ")

Number of NA values in case_id is : 4554
Number of NA values in Hospital_code is : 4554
Number of NA values in Hospital_type_code is : 4554
Number of NA values in City_Code_Hospital is : 4554
Number of NA values in Hospital_region_code is : 4554
Number of NA values in Available Extra Rooms in Hospital is : 4554
Number of NA values in Department is : 4554
Number of NA values in Ward_Type is : 4554
Number of NA values in Ward_Facility_Code is : 4554
Number of NA values in Bed Grade is : 4554
Number of NA values in patientid is : 4554
Number of NA values in New Patient is : 4554
Number of NA values in Visit Number is : 4554
Number of NA values in City_Code_Patient is : 4554
Number of NA values in Type of Admission is : 4554
Number of NA values in Severity of Illness is : 4554
Number of NA values in Visitors with Patient is : 4554
Number of NA values in Age is : 4554
Number of NA values in Admission_Deposit is : 4554
Number of NA values in Stay is : 4554

In [8]:
# Dropping these columns for now
df = df.dropna()

In [41]:
X = df.drop(['case_id','Stay'], axis=1).values
y = df['Stay'].values
from sklearn.linear_model import LinearRegression

model = LinearRegression(fit_intercept=True)
model.fit(X, y)
a, b, score = model.coef_, model.intercept_, model.score(X, y)
print('score : %.5f' % score)

score : 0.00066

In [29]:
print(X.shape)
print(y.shape)

(309239, 18)
(309239,)

In [30]:
y

array([ 5., 45., 35., ..., 15., 15.,  5.])

In [31]:
from sklearn.decomposition import PCA
pca = PCA(n_components=5)
pca.fit(X)

PCA(n_components=5)

In [32]:
print(pca.components_)

[[ 4.95839624e-07 -1.30013642e-07  4.13867534e-08 -4.19942408e-08
   1.07351551e-08  3.42314009e-08  1.88033459e-08  8.64134820e-08
   5.60327306e-08  1.00000000e+00 -8.37012213e-09 -2.18130588e-08
   2.41733188e-07  3.46252745e-08  8.49654686e-08  3.18846823e-07
  -3.23236361e-08 -1.97581130e-05]
 [ 3.61366526e-04  3.66570916e-05 -9.92442735e-05  5.21495851e-05
  -1.54865292e-04 -4.19051445e-05  3.82405650e-05 -3.67590737e-05
   6.07880218e-05  1.97579940e-05 -8.56656656e-07 -8.28440393e-06
   1.14269062e-04  2.70134082e-05  1.74527752e-05 -2.45310908e-04
   4.44898471e-05  9.99999873e-01]
 [-9.97841356e-01 -7.03249390e-03 -5.37976743e-02  1.20484962e-02
   7.53861085e-03 -3.48609941e-04 -1.51593171e-02  2.69337583e-02
   1.71030576e-03  4.96627972e-07 -5.10080692e-04  1.22388657e-03
   1.30615546e-02  1.28017315e-03  8.55213830e-04  4.51627729e-03
  -3.66751177e-03  3.57234233e-04]
 [ 1.26427118e-02  2.23516718e-02 -2.12896618e-02  2.58764872e-02
  -2.02162120e-03  2.73326610e-03  3.69444901e-03 -5.94705409e-02
  -2.23465063e-03 -2.38979646e-07  3.35122506e-03 -2.50139543e-02
   9.96951452e-01 -4.61181649e-03 -1.39348922e-03 -3.98365250e-03
  -7.90913002e-03 -1.25841915e-04]
 [-5.56529838e-02  6.66337094e-03  9.92295075e-01  1.53993054e-02
  -2.21529063e-02  5.82390446e-03  3.17358796e-02 -7.11240606e-02
  -1.36077174e-02 -9.71445743e-09 -8.12015559e-03  6.43641803e-02
   1.87536885e-02 -1.36633086e-03 -5.44450858e-04  1.22953743e-02
   2.19616977e-02  1.11824710e-04]]

In [33]:
print(pca.explained_variance_)

[1.44220032e+09 1.17751354e+06 7.47027275e+01 2.24281961e+01
 9.48997292e+00]

In [34]:
X_pca = pca.transform(X)
print("original shape:   ", X.shape)
print("transformed shape:", X_pca.shape)

original shape:    (309239, 18)
transformed shape: (309239, 5)

In [35]:
X_new = pca.inverse_transform(X_pca)
print(X_new.shape)

(309239, 18)

In [36]:
from sklearn.model_selection import train_test_split
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, random_state=7)
from sklearn.linear_model import LinearRegression

In [37]:
for i in range(18) :
    pca = PCA(i+1)  
    X_new = pca.fit_transform(X)
    model = LinearRegression(fit_intercept=True)
    model.fit(X_new, y)
    a, b, score = model.coef_, model.intercept_, model.score(X_new, y)
    print(f'{i} components used :')
    print('score : %.5f' % score)

0 components used :
score : 0.00001
1 components used :
score : 0.00002
2 components used :
score : 0.00004
3 components used :
score : 0.00004
4 components used :
score : 0.00006
5 components used :
score : 0.00041
6 components used :
score : 0.00050
7 components used :
score : 0.00051
8 components used :
score : 0.00052
9 components used :
score : 0.00053
10 components used :
score : 0.00054
11 components used :
score : 0.00054
12 components used :
score : 0.00054
13 components used :
score : 0.00057
14 components used :
score : 0.00061
15 components used :
score : 0.00061
16 components used :
score : 0.00062
17 components used :
score : 0.00066

In [38]:
model = LinearRegression(fit_intercept=True)
model.fit(X, y)
a, b, score = model.coef_, model.intercept_, model.score(X, y)
print('score : %.5f' % score)

score : 0.00066

array([[8.000e+00, 2.000e+00, 3.000e+00, ..., 2.000e+00, 5.000e+00,
        4.911e+03],
       [2.000e+00, 2.000e+00, 5.000e+00, ..., 2.000e+00, 5.000e+00,
        5.954e+03],
       [1.000e+01, 4.000e+00, 1.000e+00, ..., 2.000e+00, 5.000e+00,
        4.745e+03],
       ...,
       [2.300e+01, 0.000e+00, 6.000e+00, ..., 2.000e+00, 3.000e+00,
        4.026e+03],
       [1.600e+01, 2.000e+00, 3.000e+00, ..., 4.000e+00, 6.000e+00,
        4.347e+03],
       [5.000e+00, 0.000e+00, 1.000e+00, ..., 4.000e+00, 7.000e+00,
        4.066e+03]])