In [31]:
import os
import random
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [2]:
## loading the file
health_care = pd.read_csv('./healthcare/train_data.csv')

In [3]:
health_care.tail()

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit,Stay
318433,318434,6,a,6,X,3,radiotherapy,Q,F,4.0,86499,23.0,Emergency,Moderate,3,41-50,4144.0,11-20
318434,318435,24,a,1,X,2,anesthesia,Q,E,4.0,325,8.0,Urgent,Moderate,4,81-90,6699.0,31-40
318435,318436,7,a,4,X,3,gynecology,R,F,4.0,125235,10.0,Emergency,Minor,3,71-80,4235.0,11-20
318436,318437,11,b,2,Y,3,anesthesia,Q,D,3.0,91081,8.0,Trauma,Minor,5,11-20,3761.0,11-20
318437,318438,19,a,7,Y,5,gynecology,Q,C,2.0,21641,8.0,Emergency,Minor,2,11-20,4752.0,0-10

The columns to be pre-processed are :
1. Hospital_type_code
2. Hospital_region_code
3. Department
4. Ward_type
5. Ward_Facility_Code
6. City_Code_Patient
7. Type of Admission
8. Severity of Illness
9. Age
11. Stay

In [10]:
health_care.columns

Index(['case_id', 'Hospital_code', 'Hospital_type_code', 'City_Code_Hospital',
       'Hospital_region_code', 'Available Extra Rooms in Hospital',
       'Department', 'Ward_Type', 'Ward_Facility_Code', 'Bed Grade',
       'patientid', 'City_Code_Patient', 'Type of Admission',
       'Severity of Illness', 'Visitors with Patient', 'Age',
       'Admission_Deposit', 'Stay'],
      dtype='object')

In [4]:
## Pre processing these columns

string_columns = ['Hospital_type_code', 'Hospital_region_code', 'Department', 'Ward_Type', 'Ward_Facility_Code', 'City_Code_Patient', 'Type of Admission', 'Severity of Illness', 'Age','Stay' ]
encoder = LabelEncoder()

## label_encoded data
X_le = health_care.drop(['Stay', 'case_id'], axis=1)
y_le = health_care['Stay']


for column in string_columns :
    if column == 'Stay' :
        y_le = encoder.fit_transform(y_le)
    else : 
        X_le[column] = encoder.fit(X_le[column]).transform(X_le[column])

In [5]:
X_le.head()

,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit
0,8,2,3,2,3,3,2,5,2.0,31397,6,0,0,2,5,4911.0
1,2,2,5,2,2,3,3,5,2.0,31397,6,1,0,2,5,5954.0
2,10,4,1,0,2,1,3,4,2.0,31397,6,1,0,2,5,4745.0
3,26,1,2,1,2,3,2,3,2.0,31397,6,1,0,2,5,7272.0
4,26,1,2,1,2,3,3,3,2.0,31397,6,1,0,2,5,5558.0

In [25]:
## getting the inputs and labels

X = X_le.values
y = y_le

In [26]:
print('X.shape', X.shape)
print('y.shape', y.shape)

X.shape (318438, 15)
y.shape (318438,)

In [23]:
for column in string_columns :
    print(f'max {column} is : {health_care[column].max()}')

max Hospital_type_code is : 6
max Hospital_region_code is : 2
max Department is : 4
max Ward_Type is : 5
max Ward_Facility_Code is : 5
max City_Code_Patient is : 37
max Type of Admission is : 2
max Severity of Illness is : 2
max Age is : 9
max Stay is : 10

In [3]:
for column in health_care.columns :
    x = pd.unique(health_care[column])
    print(f'number of unique elements of  {column} is : {len(x)}')

number of unique elements of  case_id is : 318438
number of unique elements of  Hospital_code is : 32
number of unique elements of  Hospital_type_code is : 7
number of unique elements of  City_Code_Hospital is : 11
number of unique elements of  Hospital_region_code is : 3
number of unique elements of  Available Extra Rooms in Hospital is : 18
number of unique elements of  Department is : 5
number of unique elements of  Ward_Type is : 6
number of unique elements of  Ward_Facility_Code is : 6
number of unique elements of  Bed Grade is : 5
number of unique elements of  patientid is : 92017
number of unique elements of  City_Code_Patient is : 38
number of unique elements of  Type of Admission is : 3
number of unique elements of  Severity of Illness is : 3
number of unique elements of  Visitors with Patient is : 28
number of unique elements of  Age is : 10
number of unique elements of  Admission_Deposit is : 7300
number of unique elements of  Stay is : 11